@import '../../variables.scss';
button {
    color:$accent-primary;
    background-color: $menu-item;
    font-size: 10px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: .2rem;
    margin: .1rem;
    min-width: 15rem;
}

.lateServ, .nightServ {
    padding-left: .5rem;
}

.nightServ {
    color: $night-color;
}