@import '../../variables.scss';
button {
    color:$accent-primary;
    background-color: $menu-item;
    padding: 12px 16px;
    font-size: 10px;
    cursor: pointer;
    outline: none;
}

.lateServ, .nightServ {
    padding: .2rem;
}