@import '../../variables.scss';
.c-header {
    background-color: $accent-header;
    &__brandText{
        color:$accent-primary;
        font-size: 2rem;
    }
    &__error{
        background-color: $error-color;
        color: $error-message-color;
        max-width: 30rem;
    }

    &__menuBar{
        display: flex;
        flex-direction: column;
        max-width: 1rem;
    }
}